:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

svg.material-icons {
  height: 24px;
  width: auto;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;

  &.card-small {
    height: 16px;
    width: 168px;
  }

  &.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  svg.material-icons path {
    fill: #888;
  }
}

.card.card.highlight-card span {
  margin-left: 60px;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

.card.active,
.card:hover {
  color: #125699;
  font-weight: 500;
}

.brand-details {
  display: none;

  &.visible {
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
}

.embedded-content {
  width: 700px;
  height: 700px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .brands-form {
    min-width: 150px;
    max-width: 500px;
    display: flex;
    flex: 1;
  
    .brands-autocomplete {
      flex: 1;
      padding-right: 15px;
    }

    .mat-icon {
      vertical-align: 0;
    }

    .facebook-button {
      font-size: 52px;
    }
  }
}